RAILS_ENV=development

SECRET_KEY_BASE=you_can_use_rake_secret_to_generate_this_token
DRAGONFLY_SECRET=you_can_use_rake_secret_to_generate_this_token

UNICORN_WORKERS=1

REDIS_URL=redis://redis:6379/0

STRIPE_PUBLIC_KEY=__replace_me__
STRIPE_SECRET_KEY=__replace_me__