h1.ui.header = t '.add_new_cat'
= render_component Components::Admin::Cats::CatForm.new context: self, form: @result.form, action: admin_cats_path, method: :post, return_path: admin_cats_path

- content_for :sidebar
  = render_component Components::Admin::SidebarNav.new context: self